@import url('https://fonts.googleapis.com/css?family=Nunito');
@import './variables';

html {
	font-size: 14px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.3em;
}

body {
	background-color: bgcolor(dark);
	.fixed-navbar {
		.navbar {
			position: fixed;
			top: 0;
			left: 0;
		}
		main {
			padding-top: $nav-height;
		}
	}
}
img {
	width: 100%;
	display: block;
}
a {
	text-decoration: none;
	color: rgb(24, 90, 145);
}
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 25px;
	@media (max-width: $tablet) {
		padding: 0 20px;
	}
}

.header {
	height: calc(100vh - $nav-height);
	height: 80vh;
	> * {
		color: #aaa;
	}
	.heading {
		font-size: 2.5em;
		margin-bottom: 20px;
	}
	.subheading {
		max-width: 300px;
		margin-bottom: 20px;
	}
	.call-to-action {
		border: 1px solid rgba(255, 255, 255, 1);
		padding: 1em 1.2em;
		border-radius: 2px;
		background-color: transparent;
		color: #aaa;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
	}
	.call-to-action:hover {
		background-color: #fff;
		color: #333;
	}
}

// Flex -->
.flex {
	display: flex;
	&.row {
		&-all {
			flex-direction: row;
		}
		&-lg {
			@include desktop {
				flex-direction: row;
			}
		}
		&-md {
			@include tablet {
				flex-direction: row;
			}
		}
		&-sm {
			@include mobile {
				flex-direction: row;
			}
		}
	}
	&.column {
		&-all {
			flex-direction: column;
		}
		&-lg {
			@include desktop {
				flex-direction: column;
			}
		}
		&-md {
			@include tablet {
				flex-direction: column;
			}
		}
		&-sm {
			@include mobile {
				flex-direction: column;
			}
		}
	}
	&.wrap {
		flex-wrap: wrap;
	}
	&.space-between {
		justify-content: space-between;
	}
	&.space-around {
		justify-content: space-around;
	}
}

.expand {
	flex: 1;
}

.justify-start {
	justify-content: flex-start;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

// <-- Flex

/* ------------------------------------------------- */

// Extra -->
.fill-h {
	width: 100%;
}

.fill-v {
	height: 100%;
}

.mr {
	&-1 {
		margin-right: 5px;
	}
}

.ml {
	&-1 {
		margin-left: 5px;
	}
	&-2 {
		margin-left: 10px;
	}
}

.mb {
	&-1 {
		margin-bottom: 5px;
	}
	&-2 {
		margin-bottom: 10px;
	}
}

// <-- Extra

// Background --->
.bg {
	&-dark {
		background-color: bgcolor(dark);
		li,
		p,
		a {
			color: darken(textcolor(light), 5);
		}
	}
	&-light {
		background-color: bgcolor(light);
		* {
			color: lighten(textcolor(dark), 20);
		}
	}
	&-red {
		background-color: bgcolor(red);
	}
}
// <-- Background

// Button -->

.btn {
	$padding-sm: 2px 10px;
	$padding-md: 11px 15px;
	$padding-lg: 14px 20px;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.03);
	cursor: pointer;
	transition: all 0.2s;
	&.primary {
		background-color: bgcolor(primary);
		color: textcolor(light);
		&:hover {
			background-color: darken(bgcolor(primary), 10);
		}
	}
	&.secondary {
		background-color: bgcolor(secondary);
		color: textcolor(dark);
		&:hover {
			background-color: darken(bgcolor(secondary), 10);
		}
	}
	&.red {
		background-color: bgcolor(red);
		color: lighten(textcolor(light), 10);
		&:hover {
			background-color: darken(bgcolor(red), 10);
		}
	}
	&.sm {
		padding: $padding-sm;
		font-size: 0.87em;
	}
	&.md {
		padding: $padding-md;
		font-size: 1em;
	}
	&.lg {
		padding: $padding-lg;
		font-size: 1.1em;
	}
	&.rounded {
		border-radius: 30px;
	}
}
// <-- Button

.navbar {
	width: 100%;
	height: $nav-height;
	// border-bottom: 1px solid rgba(0, 0, 0, 0.03);
	// box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
	// background: linear-gradient(
	// 	to rrigh,
	// 	bgcolor(dark),
	// 	darken(bgcolor(dark), 10),
	// 	lighten(bgcolor(dark), 10)
	// );

	.logo {
		img {
			width: 50px;
		}
	}
	.menu {
		a {
			padding: 0 1em;
			// color: rgb(131, 156, 160);
			letter-spacing: 0.2px;
		}
	}
}

.form-card {
	max-width: 800px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	margin: auto;
	padding: 2em;
	margin: 5em auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	border-radius: 3px;
}

.sign-up-with {
	padding: 5em 0;
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	.btn {
		width: 80%;
		text-align: left;
	}
}

.input-group {
	width: 100%;
	max-width: 300px;
	margin: 0 10px;
	input {
		border: 1px solid rgba(0, 0, 0, 0.08);
		border-radius: 3px;
		padding: 0.8em;
		display: block;
		margin-bottom: 5px;
		font: inherit;
	}
}
